.button {
    padding: rem(23px) rem(50px);
    background-color: #E01F3D;
    color: white;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: rem(16px);
    border: 1px solid transparent;
    border-radius: rem(100px);
    outline: none;
    &:--close{
      padding: rem(7px) rem(30px);
    }
  }
  .button:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all ease-in-out .2s;
  }